#question {
	color: white;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px grey;
	width:100%;
	height:50px;
	text-align:center;
	margin-bottom:3%;
}


/**buttons aka container 2**/


.container2 {
	background-color: #00ADEF;
	width:250px;
	color: #edf2f9;	
	float:left;
	font-family: 'Kalam', cursive;
}


.char {
	float:left;
	margin-left:10px;
	margin-bottom:10px;
}

.btns {
	
	background-color: #00ADEF;
	border:none;
	height:60px;
	width:100%;
	font-weight:bold;
	font-size:18px;
	text-shadow: 1px 1px grey;
	float:right;
	padding-top:10px;


}

.btns:hover {
	background-color:#82abed;
	border: grey;
}

.btns:focus {
	background-color:grey;
}


/*************  Map css  *****************/


.search {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  	background-color: #fff;
  	font-family: 'Kalam', cursive;
  	font-size: 18px;
  	font-weight: 300;
  	text-align: center;
  	padding: 0 11px 0 13px;
  	width: 200px;
  	height: 40px;
  	margin-top: 10px;	
  	margin-right: 15px;
  	
}

#autocomplete {
	background-color: #fff;
	font-family: 'Kalam', cursive;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	width: 210px;
	height: 40px;
	margin-top: 10px;
	margin-right:30%;
	border-radius: 5px;
	font-family: 'Kalam', cursive;
	font-size:18px;
	color: #00ADEF;
}

#autocomplete:focus {
	border-color: #4d90fe;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Kalam', cursive;
  font-size: 13px;
  font-weight: 300;
}



#result{
	font-size: 20px;
	text-align: center;
	font-family: 'Kalam', cursive;
}

#map {
  	height: 450px; 	
}

/*.placeIcon {
	width: 20px;
	height: 34px;
	margin: 4px;
}

.searchIcon {
	width: 24px;
	height: 24px;
}


#resultsTable {
    border-collapse: collapse;
    width: 240px;
}
*/

#rating {
	font-size: 13px;
	font-family: Arial Unicode MS;
}

.iw_table_row {
	height: 18px;
}

.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}

.iw_table_icon {
	text-align: right;
}


/* ============ CSS for deals div ===========*/


#dealsFromSqoot {
  margin-left:0px;
  width: 25%;
  height:400px;
  padding-bottom: 20px;
  font-family: 'Kalam', cursive;
  font-size: 15px;
  background-color:#00ADEF;
  float:right;
}

/* ==== ??? ==== */

.responseDIV {
	float: left;
	/*position: relative;*/
	display: inline;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 200px;
	max-width: 200px;
	border: 3px dotted #0088dd;
	min-height: 220px;
	max-height: 220px;
	font-family: 'Satisfy', cursive;

}