@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Poiret+One&subset=cyrillic,latin-ext');



.jumbotron {
	margin-left:10px;
	margin-right:10px;
	background-image: url("../images/walking_population.png");
	color: white;
	border-radius: 5px;
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-bottom:0px;
}
#header {
	font-size:75px;
}

#subhead {
	font-size:30px;
}

#startStep {
	background-color:white;
	opacity:.8;
	border-radius: 5px;
	font-family: 'Satisfy', cursive;
	font-size:16px;

}

#about {
	padding-top: 45px;
	margin-top:0px;
}
.lead {
	font-family: 'Kalam', cursive;
	font-size: 16px;
}

.button-header {
	max-width:1500px;
	max-height:500px;
	border-radius:50px;
	opacity: .8;
	color: black;
	margin-left:10px;
	margin-right:10px;
}
.container2 {
	background-color: #4286f4;
	width:100%;
	height:350px;
	text-align:center;
	

}

button:visited {
	background-color:orange;
}


.nav{
	width:100px;
	height:60px;
	font-size:12px;
	padding-right:8px;

}

 .nav:hover {
 	border:1px solid orange;
	background-color: orange;
	
}

.icon {
	max-width:30px;
	max-height:30px;
	padding-bottom: 30px;
}



/*************  Map css  *****************/

#map {
  height: 400px;
  width: 100%;
  padding-left: 15px;
  padding-right:15px;	

}

.controls {
  margin-right: 25%;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}

#pac-input {
  background-color: #fff;
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 25%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;


}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: 'Josefin Slab', serif;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Josefin Slab', serif;
  font-size: 13px;
  font-weight: 300;
}

/************  finish Map css  ***********/
.container3 {
	background-image: url("../images/footprints.png");
	padding-bottom: 6%;
	
}
.container4{
	
	padding-bottom: rgba(0, 153, 255,0.9);
	margin-bottom: 20px;
	
}

h3{
	font-family: 'Josefin Slab', serif;
}

/* ============ CSS for deals div ===========*/


#dealsFromSqoot {
  position-top: -200px;
  width: 1050px;
  padding-bottom: 20px;
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
}

img {
	width: 120px;
	height: 80px;	
}

.responseDIV {
	float: left;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 200px;
	max-width: 200px;
	border: 3px dotted #0088dd;
	min-height: 220px;

}