@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Poiret+One&subset=cyrillic,latin-ext');



.jumbotron {
	margin-left:10px;
	margin-right:10px;
	background-color: white;
	opacity: .8;
	color: black;
	border-radius: 5px;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	text-align: center;

}

h1, p {
	padding-right:20px;
	padding-left:20px;
}

body {
	background-image: url("http://www.labelscar.com/wp-content/uploads/2007/05/nashua-landing.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Josefin Slab', serif;

}
.button-header {
	max-width:1500px;
	max-height:500px;
	
	opacity: .8;
	color: black;
	margin-left:10px;
	margin-right:10px;



}

button:visitsed {
	background-color:orange;
}


.nav{
	width:100px;
	height:60px;
	font-size:12px;
	padding-right:8px;

}

 .nav:hover {
 	border:1px solid orange;
	background-color: orange;
	
}

img {
	max-width:30px;
	
max-height:30px;
}



.aboutMe { 
	background-color: white;
	opacity: .8;
	color: black;
	height: 300px;
	width:600px;
	margin-left:10px;
	margin-right:10px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	font-size: 20px;

}
