@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Poiret+One&subset=cyrillic,latin-ext');



.jumbotron {
	margin-left:10px;
	margin-right:10px;
	background-image: url("../images/walking_population.png");
	color: white;
	border-radius: 5px;
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-bottom:0px;

}
#header {
	font-size:75px;
	text-shadow: 3px 3px #4286f4;
}

#subhead {
	font-size:30px;
	text-shadow: 1px 1px #4286f4;
}

#startStep {
	background-color:white;
	opacity:.8;
	border-radius: 5px;
	font-family: 'Josefin Slab', serif;
	font-size:18px;

}

#about {
	padding-top: 30px;
	padding-bottom:50px;
	margin-top:0px;
	color: black;
	background-color: #edf2f9;

}
.lead {
	font-family: 'Kalam', cursive;
	font-size: 16px;
	
}

#services {
	color: #edf2f9;
	margin-top:8px;


}

.btns {
	background-color: #4286f4;
	border: none;
	border-radius: 100px;
	height:110px;
	width:100px;
	font-weight:bold;
	margin-top:15px;

}

.btns:hover {
	background-color:#82abed;
}

.btns:focus {
	background-color:#425D8A;
}

.container2 {
	background-color: #4286f4;
	width:100%;
	height:350px;
	text-align:center;
	color: #edf2f9;	
}

button:visited {
	background-color:orange;
}


.nav{
	width:100px;
	height:100px;
	font-size:12px;
	padding-right:8px;


}

 .nav:hover {
 	border:1px solid orange;
	background-color: orange;
	height: 130px;
	width: 130px;
	
}

.icon {
	max-width:30px;
	max-height:30px;
	padding-bottom: 30px;
}



/*************  Map css  *****************/

.container3 {
	background-image: url("../images/footprints.png");
	padding-bottom: 5%;
}

h3{
	font-family: 'Josefin Slab', serif;
}

#currentLocation{
	margin:10px 0px 0px 10px;
	height: 40px;
	width: 150px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	font-family: 'Josefin Slab', serif;
	font-size:18px;
	color: #416ef4;
}

.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
}

#pac-input {
  background-color: #fff;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 0 11px 0 13px;
  width: 200px;
  height: 40px;
  margin-top: 10px;	
  margin-left: 10px;
  border-radius: 5px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: 'Josefin Slab', serif;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Josefin Slab', serif;
  font-size: 13px;
  font-weight: 300;
}
.container4{
	padding-bottom: rgba(0, 153, 255,0.9);
	margin-bottom: 200px;
}

#result{
	font-size: 20px;
	text-align: center;
	font-family: 'Josefin Slab', serif;
}

#map {
  height: 550px;
  width: 100%;

}


/* ============ CSS for deals div ===========*/


#dealsFromSqoot {
  position-top: -200px;
  width: 1050px;
  padding-bottom: 20px;
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
}

img {
	width: 120px;
	height: 80px;	
}

.responseDIV {
	float: left;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 200px;
	max-width: 200px;
	border: 3px dotted #0088dd;
	min-height: 220px;

}