@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Poiret+One&subset=cyrillic,latin-ext');



.jumbotron {
	margin-left:10px;
	margin-right:10px;
	background-image: url("../images/walking_population.png");
	color: white;
	border-radius: 5px;
	font-family: 'Satisfy', cursive;
	text-align: center;
}
#header {
	font-size:75px;
}

#subhead {
	font-size:30px;
}

#startStep {
	background-color:white;
	opacity:.8;
	border-radius: 5px;
	font-family: 'Satisfy', cursive;
	font-size:16px;

}

#about {
	
}
.lead {
	font-family: 'Kalam', cursive;
	font-size: 16px;
}

.button-header {
	max-width:1500px;
	max-height:500px;
	border-radius:50px;
	opacity: .8;
	color: black;
	margin-left:10px;
	margin-right:10px;




}

button:visitsed {
	background-color:orange;
}


.nav{
	width:100px;
	height:60px;
	font-size:12px;
	padding-right:8px;

}

 .nav:hover {
 	border:1px solid orange;
	background-color: orange;
	
}

img {
	max-width:30px;
	
	max-height:30px;
}

.aboutMe { 
	background-color: white;
	opacity: .8;
	color: black;
	height: 300px;
	width:600px;
	margin-left:10px;
	margin-right:10px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	font-size: 20px;

}

/*************  Map css  *****************/
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #stepMap {
        height: 500px;
        width: 500px;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/************  finish Map css  ***********/



